body, h1, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
  }
  body {
    background-color: rgb(35, 58, 3);
    font-family: Arial, sans-serif;
  }
  header {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  nav.logo h1 {
    font-size: 3.5em;
  }
  nav.navbar {
    background-color: peachpuff;
  }
  nav.navbar ul {
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }
  nav.navbar li {
    margin: 0 10px;
  }
  nav.navbar a {
    color: #000000;
    font-weight: bold;
    font-size: 1.2em;
  }
  @media (max-width: 600px) {
    nav.navbar ul {
      flex-direction: column;
      align-items: center;
    }
    nav.navbar li {
      margin: 5px 0;
    }
  }