body{
        background-color: lavender;
        color: black;
        font: 20px;
        margin-top: 250px;
        font-family: cursive;
        }
  
    table {
           border-radius: 15px;
           height: 500px;
           border-color: solid lavender ;
        }
    td{
        background-color: black;
        color: white;
        text-align: center;
    }
    th{
        background-color: green;
    }
    .first, .last, th{
        font-family: sans-serif;
    }