body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            animation: gradient 5s ease-in-out infinite;
            background: linear-gradient(90deg, red, yellow, green, blue, indigo, violet);
            background-size: 200% 200%;
        }

        /* Responsive styles */
        @media (max-width: 600px) {
            .container {
                width: 100%;
            }
            header h1, main, footer {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
