body{
 background:rgb(56, 183, 179);
}


.services-grid {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-gap:
}
#services {
 padding: 50px 0;
 text-align: center;
 font-size: 20px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 color: #f62004;
}
.sales{}
.all {
 border-radius: 100px;
 width: 280px;
 height: 200px;
 display: grid;
}
.allin {
 border: 0.2rem;
 border-radius: 100px;
 border-width: 5px;
 width: 280px;
 height: 200px;
 align
}
.button{
 display: block;
}









.loader {
 border-top: 16px solid blue;
 border-right: 16px solid green;
 border-bottom: 16px solid red;
 
  border-left: 16px solid #3498db;

  border-radius: 50%;
 width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
 }
 @keyframes spin {
  0% {
   transform: rotate(0deg);
  }
  100% {
   transform: rotate(360deg);
  }
 }

li {
 display:inline-table;
 margin-right: 20px;
}
.dropdown {
 position:fixed;
}

 .dropdown:hover .dropdown-menu {
 display:grid;
}
.dropdown-menu {
 display: none;
 position: absoe;
 top: 100%;
 left: 0;
 background-color: #d2c8c8;
 border: 7px solid #23bfbc;
}

 .dropdown-menu li {
 display: block;
}

 .dropdown-menu li a {
 display: block;
 padding: 5px;
 color: #6525ef;
 text-decoration: none;
}

 .dropdown-menu li a:hover {
 background-color: #0bef22;
}












