body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #020270;
    background-size: cover; /* Adjust the background size as needed */
    background-position: center; /* Center the background image */
  }
  
  .cv-section {
    background-color: #3a3a3a;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .header {
    text-align: center;
  }
  
  .profile-pic {
    height: 100px;
    width: 100px; /* Set the width of the profile picture */
    border-radius: 50%; /* Make it circular */
    margin-bottom: 5px;
    
  }

  .header h1 {
    color: #ffffff;
    margin: 0;
  }
  
  .header p {
    margin-top: 5px;
    color: #ffffff;
  }
  
  h2, h3 {
    color: #fffefe;
  }
  
  h2 {
    border-bottom: 2px solid #fffefe;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }
  
  .entry {
    margin-bottom: 20px;
  }
  
  .entry h3 {
    margin-bottom: 5px;
  }
  
  ul {
    list-style-type: none;
    padding: 1px;
  }
  
  #skills ul {
    margin-bottom: 3;
    padding-left: 20px;
  }
  
  #experience ul {
    
    margin-bottom: 3;
    padding-left: 20px;

  }
  