body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(27, 0, 199);
    color: white;
    background-size: cover;
    background-position: center;
  }
  
  h2 {
    text-align: center;
  }
  
  .timetable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .timetable th, .timetable td {
    border: 1px solid #dddddd;
    padding: 10px;
    text-align: left;
  }
  
  .timetable th {
    background-color: #f2f2f2ea;
  }
  
  .timetable td {
    height: 80px; /* Adjust the height as needed */
  }
  
  .timetable td:nth-child(odd) {
    background-color: #f9f9f9e9;
  }
  