.unique {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  color: burlywood;
  justify-content: center;
}

.note {
  justify-content: center;
  color: rosybrown;
  margin-top: 20px;
  padding: 40px;
}

.sigh {
  justify-content: center;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10ox;
  margin-left: 20px;
  margin-right: 20px;
}
