body{
    background-image: url("login-cru.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: column; /* align items in a column */
    align-items: center; /* center items horizontally */
    justify-content: center; /* center items vertically */
    height: 100vh; /* make the body take the full viewport height */

}


form {
    display: flex;
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    height: 80vh;
    line-height: 1.7;
    vertical-align: baseline;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 70vh;
    padding: 50px; 
    max-width: 75%;
    max-height: fit-content;
    margin: 0%;
    
}

input[type="text"], input[type="email"],  select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type="submit"] {
    background-color: #0b4776;
    color: white;
    width: 70vh;
    padding: 14px ;
    margin: 8px 0;
    max-width: 100%;
    border: none;
    border-radius: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0b4776; 
}

.container {
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 80vh;
    padding: 30px;
    margin: 30px;
}

.Text{
    color: red;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    top: -10px;
}

.footer{
    color: white;
    text-align: center; /* center the content */
    width: 100%; /* make footer take full width */
    position: relative; /* position it relative to its normal position */
           
}
.Password{
    color: red;
}
.color{
    color: red;
}