    body{
        background: black; 
        color: white; 
    }

    @media(max-width:750px){
        .FlexGallery{
        display: flex; 
        flex-direction: column;
        }
    }

    header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        background-color: black;
    }

    #Leggo{
        font-size: 2rem;
        font-weight: 800;
        text-shadow: 2ps 2px 4px;
        color: white;
        margin-left: 5%;
        flex-grow: 3;
    }

    .Ok{
        flex-grow: 1;
        transition: all 1s;
        padding: 7px;
        display: inline;
        text-align: center;
        border-radius: 6px;
        justify-content: space-evenly;
        margin-right: 15px;
    }

    a{
        text-decoration-line: none;
        color: white;
    }

    .Ok:hover{
        background-color: blue; 
        color: black;
        transform: scale( 1.1);
    }

    a:hover{
        color: black;
    }

    #Vic{
        width: 30%;
        background-color: blue; 
        margin: 80px auto;
        display: none; 
        border-radius: 12px;
    }

    #Tor{
        width: 75%;
        height: 30px;
        background-color: white;
        box-shadow: 2px 2px 4px black;
        margin-top: 20px;
        margin-bottom: 11px;
        margin-left: 12.5%;
        transition: all 1s;
        display: inline;
        text-align: center;
        border-radius: 12px; 
    }

    #Eni{
        width: 75%;
        height: 30px;
        background-color:white;
        box-shadow: 2px 2px 4px black;
        margin-left: 12.5%;
        margin-bottom: 20px;
        margin-top: 20px;
        transition: all 1s;
        border: solid 1px black;
        text-align: center;
        border-radius: 12px; 
    }

    #Glo{
        background-color:black;
        width: 32% ;
        margin-left: 14%;
        margin-top: 12px;
        margin-bottom: 8px;
        display: none; 
        clear: both;
        float: left;
        border-radius: 12px; 
    }

    #Ree{
        background-color:black;
        width: 32% ;
        margin-right: 14%;
        float: right;
        margin-top: 12px;
        margin-bottom: 8px;
        display: none;
        border-radius: 12px; 
    }

    #Oyin{
        background-color:black;
        width: 32% ;
        margin-left: 14%;
        margin-top: 12px;
        margin-bottom: 8px;
        clear: both;
        display: none; 
        float: left;
        border-radius: 12px;
    }
      
        
    
    #Den{
        background-color:black;
        width: 32% ;
        margin-right: 14%;
        float: right;
        margin-top: 12px;
        margin-bottom: 8px;
        display: none;
        border-radius: 12px; 
    } 

    #Oyin:hover,  #Den:hover,  #Ree:hover,  #Glo:hover{
        background-color: white;
        color: black;
    }

    #Tor:hover, #Eni:hover{
        background-color: ghostwhite;
    }
    
    .hide{
        display: none;
    }

    #Love{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 80%;
        margin-top: 150px;
        font-size: 4em;
        font-family: courier;
        animation-name: Wow ;
        animation-delay: 1s;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

    }
    
    #Okum{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 40%;
        margin-top: 50px;
        font-size: 1.9rem;
        font-family: courier;
    }

    #Joy{
        display: flex;
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 50%;
        margin-top: 10px;
        font-size: 1rem;
        font-family: courier;
    }

    #Money{
        font-size: 2em;
        color: blue;
        margin-right: -18px;
    }

    @keyframes Wow{
        0%{

        }
        50%{
        color: blue;
        transform: scale(1.4);
        }
        100%{
        color: lightblue;
        transform: scale(1);
        }

    }

    #work{
        width: 100%;
        height: 50px;
        display: none;
    }

    #spa{
        color: black;
        position: relative;
        animation-name: haha;
        animation-duration: 6s;
        animation-iteration-count: infinite;
    }

    #span{
        color: black;
        animation-name: ha;
        animation-duration: 6s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
    }

    @keyframes haha{
        0%{
           
        }

        20%{
        color: white;
        margin-left: 0px;
        }

        40%{
        color: black;
        margin-left: 0px;
        }

        60%{
        color: black;
        margin-left: 170px;
        }

        62%{
        color: white;
        margin-left: 170px;
        }

        83%{
        margin-left: 170px;
        color: white;
        }

        84%{
        color: black;
        }

        100%{
           
        }

    }

    @keyframes ha{
        0%{

        }

        20%{
        color: white;
        margin-left: 0px;
        }

        40%{
        color: black;
        margin-left: 0px;
        }

        60%{
        color: black;
        margin-left: 200px;
        }

        62%{
        color: white;
        margin-left: 200px;
        }

        83%{
        margin-left: 200px;
        color: white;
        }

        84%{
        color: black;
        }

        100%{
 
        }

    }
