@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'PT Sans Narrow', sans-serif;
    list-style: none;
}

body{
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

a{
    text-decoration-line: none;
    color: white;
}

a:hover{
    color: white;
    text-decoration-line: white;
}

header{
    display: flex;
    color: white;
 text-align: center;
 background-color: none;
 position: sticky;
}

header div{
    flex-grow: 1;
    margin-top: 40px;
    font-size: 0.9rem;
    font-weight: 600;
    
}

.nawah{
    margin-left: 4%;
}
.wahala{
    margin-right: 25px;
}

img{
    width: 100%;
}

.haa{
    margin-top: 29px;
    margin-left: 3%;
 width: 150px;
 height: 150px;
}

.try-txt a{
    width: 500px;
    height: 100px;

}

.try-txt button:hover{
    background-color: white;
    color: black;
    transition: .5s ease-in;
    cursor: pointer;
}

main{
    background-image: url('ROCKET (1).jpeg');
    background-repeat: none;
    background-position: center;
    height: 100vh;
}

.try .try-txt{
    position: absolute;
    bottom: 10%;
    left: 15px;
    margin-left: 30px;
    color: white;
}

.try-txt p{
    font-size: 28px;
}

.try-txt h2{
    font-size: 50px;
    margin-bottom: 30px;
}

.try-txt button{
    color: white;
    border: 2px solid white;
    font-size: 20px;
    padding:10px;
    width: 60%;
    position: relative;
    background: transparent;
    text-transform: capitalize;
    
}

.card1{
    position: relative;
    background-image: url('BLASTOFF1.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.card1 .card1-txt{
    position: absolute;
    bottom: 20%;
    left: 15px;
    margin-left: 30px;
    color: white;
}

.card1-txt p{
    font-size: 28px;
}

.card1-txt h2{
    font-size: 50px;
    margin-bottom: 30px;
}

.card1-txt button{
    color: white;
    border: 2px solid white;
    font-size: 20px;
    padding:10px;
    width: 60%;
    position: relative;
    background: transparent;
    text-transform: capitalize;
}

.card2-txt button:hover{
background-color: white;
color: black;
transition: .5s ease-in;
cursor: pointer;
}

.card2{
    position: relative;
    background-image: url('BLASTOFF2.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.card2 .card2-txt{
    position: absolute;
    bottom: 20%;
    left: 15px;
    margin-left: 30px;
    color: white;
}

.card2-txt p{
    font-size: 28px;
}

.card2-txt h2{
    font-size: 50px;
    margin-bottom: 30px;
}

.card2-txt button{
    color: white;
    border: 2px solid white;
    font-size: 20px;
    padding:10px;
    width: 60%;
    position: relative;
    background: transparent;
    text-transform: capitalize;  
}

.card2-txt button:hover{
background-color: white;
color: black;
transition: .5s ease-in;
cursor: pointer;
}

.card3{
    position: relative;
    background-image: url('BLASTOFF3.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.card3 .card3-txt{
    position: absolute;
    bottom: 20%;
    left: 15px;
    margin-left: 30px;
    color: white;
}

.card3-txt p{
    font-size: 28px;
}

.card3-txt h2{
    font-size: 50px;
    margin-bottom: 30px;
}

.card3-txt button{
    color: white;
    border: 2px solid white;
    font-size: 20px;
    padding:10px;
    width: 60%;
    position: relative;
    background: transparent;
    text-transform: capitalize;  
}

.card3-txt button:hover{
background-color: white;
color: black;
transition: .5s ease-in;
cursor: pointer;
}

footer{
background-color: black;
padding: 25px;
}

.foot{
display: flex;
align-items: center;
justify-content: center;
}

.foot li{
    color: white;
    margin-right: 20px;
    font-size: 13px;
    cursor: pointer;
    transition: .5s ease;
}

.foot li:hover{
    color: rgba(255, 255, 255, 0.589);
}

.grid{
    display: grid;
    grid-gap: 0;
}
