h1{
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-right: 250px;
}
h2{
    font-size: 15px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: peachpuff;
}
.navbar{
    overflow: hidden;
    background-color:rgb(226, 110, 9);
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown{
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar button:hover, .dropdown:hover .dropbtn{
    background-color: rgb(0, 153, 255);
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0,0, 0.2);
    z-index: 1;
}
.dropdown-content a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    background-color: aquamarine;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dash{
    width: 35px;
    height:5px;
    background-color: black;
    margin: 6px 0;
}
.topnav input[type=text]{
    float:right;
    padding: 6px;
    border: none;
    margin-top: 17px; 
    font-size: 17px;
}
@media screen and (max-width:600px){.topnav input[type=text]{
    border: 1px solid ;
}
}
.clad{
    text-align: center;
    padding-left:200px ;
}
p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
}
.sign{
    text-align: left;
    padding-left: 100px;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.sub{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    padding-left: 100px;
    margin-top: 20px;
}
.marble:hover{
    background-color: gray;
}
.mine{
    text-align: left;
    padding-left: 100px;
}
nav ul li{
    display: inline;
    padding: 70px;
    margin-left: 70px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}
.gift{
    font-size: 20px;
}