* { margin: 0px;
    padding: 0px; 
;

}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.713)50%, rgba(0, 0, 0, 0.713)50%), url(JO.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: "Montserrat medium", sans-serif;
    
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
s
.icon{
    width: 200px;
    float: left;
    height: 70px;
    
}
.logo{
    color: white;
    font-size: 35px;
    font-family: Arial;
    padding-right: 10px;
    margin-top: 30px;
    float: right;
}
.menu{
    float: left;
    padding-left: 0px;
    margin-top: 10px;  
}

ul{
   
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s ease;

}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 17px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: ease-in-out;
}

ul li a:hover{
    color: rgb(255, 193, 47);
}

.content{
    padding-left: 200px;
    padding-top: 120px;
    float: left;
}
.content h2{
    color: white;
    font-size: 100px;
    font-family: "Montserrat medium", sans-serif;
    line-height: 100px;}
    
.content h1{
    color: rgb(255, 221, 0);
    font-family: "Montserrat regular", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}

.content p{
    color: white;
    font-size: 20px;
    font-family: "Montserrat regular", sans-serif;
    line-height: 30px;
}
.butt{
    padding-right: 200px;
    margin-top: 600px;
}
.butt button{
    color: #000000;
    transition: all 0.5s;
    position: relative;
    background-image: linear-gradient(to right, rgb(255, 195, 54), rgb(250, 175, 0));
    background-color: rgb(219, 219, 222);
    float: right;
    font-size: 20px;
    /*border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;*/
    border: none;
    padding: 20px;
    border-radius: 20px;
    padding-left: 60px;
    padding-right: 60px;
    cursor: pointer;
    transition: all 0.5s ease-in-out 0s;  
    font-family: "Montserrat medium", sans-serif; 
  }
  .butt button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
  }
  .butt button::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
  .butt button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    opacity: 0;
    transition: all 0.3s;
    border: 3px solid rgba(255, 255, 255, 0.5);
    /*border-top-right-radius: 20px;
   border-bottom-left-radius: 20px;*/
   border-radius: 20px;
    transform: scale(1.2,1.2);
  }
  .butt button:hover::after {
    opacity: 1;
    transform: scale(1,1);
  }

/*.butt{
    padding-right: 200px;
    margin-top: 600px;
}


.butt button{
   float: right;
   font-size: 20px;
   background-color: blue;
   color: white;
   border-radius: 10px;
   padding: 15px;
   cursor: pointer;
   transition: all 0.5s ease-in-out 0s;  
   font-family: "Montserrat medium", sans-serif;; 
}
button:hover {
    background-color: rgb(255, 255, 66);
    color: rgb(2, 1, 1);
    }
*/


/*header{
    background-color: #ce0340;
    padding: 30px;
    color: white;
    text-align: center;
}

.main{
        width: 100%;
        height: 100px;
        background: url(JO.jpg);
        background-position: center;
        background-size: cover;
        height: 100vh;
}

.drop{
    float: left;
    
}
.drop ul{
    list-style: none;
    
}
.drop ul li{
    display: inline-block;
    position: relative;
}
.drop ul li a{
    display: block;
    padding: 25px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}

.drop ul li ul.dropdown li{
    display: block;
}
.drop ul li ul.dropdown{
    width: 100%;
    background: #ce0340;
    position: absolute;
    z-index: 999;
    display: none;
}

.drop ul li a:hover{
    background:  #b90138;
}
.drop ul li:hover ul.dropdown{
    display: block;
}

.drop h2{
    color: white;
    float: right;
    
}*/