@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@1,5");
* {
  padding: 0 !important;
  margin: 0 !important;
}
body {
  background-color: #0b090a !important;
}
nav {
  background-color: white !important;
  padding: 10px !important;
  color: #0b090a;
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}
.logo {
  font-size: 30px;
  font-weight: bolder;
  color: #a4161a;
  font-family: helvetica;
  letter-spacing: 2px;
}
ul {
  display: flex;
  align-items: center;
}
ul li {
  float: right;
  list-style-type: none;
}
ul li a {
  color: black;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  margin: 30px !important;
  text-transform: capitalize;
  transition: 0.2s;
}

ul li a:hover {
  background-color: #a4161a;
  color: white;
  padding: 10px !important;
  border-radius: 10px;
}
ul li a:active {
  background-color: #a4161a;
  color: white;
  padding: 10px !important;
  border-radius: 10px;
}
.container {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
}
.logoblack {
  width: 120px;
  float: right !important;
}
#hero {
  padding-left: 30px !important;
  padding-bottom: 20px !important;
  padding-top: 100px !important;
}
.continueBtn {
  margin-left: 30px !important;
  text-decoration: none !important;
  color: #d3d3d3 !important;
  text-align: center !important;
  margin-top: 20px !important;
  border: 2px solid #a4161a;
  width: 220px !important;
  transition: 0.3s;
  padding: 10px 5px !important;
  font-weight: bold;
  text-transform: uppercase;
  word-spacing: 5px !important;
  z-index: 2 !important;
}
.continueBtn:hover {
  background-color: #a4161a;
}
#hero ::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: -7;
  z-index: -1;
}
#hero .hero {
  min-width: 1200px;
  margin: 0 auto;
  padding: 0 50;
  justify-content: flex-start;
}
#hero h1 {
  display: block;
  letter-spacing: 4px !important;
  font-family: "Bebas Neue", sans-serif !important;
  font-weight: bold;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 0.7s;
}
#hero h1:nth-child(1) {
  animation-delay: 1.5s;
}
#hero h1:nth-child(2) {
  animation-delay: 3s;
}
#hero h1:nth-child(3) {
  animation-delay: 4s;
}
/* #hero h1:nth-child(3) {
  animation: text_reveal_name.5s ease forwards;
  animation-delay: 3s;
} */

#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #a4161a;
  animation: text_reveal_box 1s ease;
  animation-delay: 1s;
}
#hero h1 :nth-child(1) span {
  animation-delay: 1s;
}
#hero h1:nth-child(2) span {
  animation-delay: 2.5s;
}
#hero h1 :nth-child(3) span {
  animation-delay: 1s;
}
#hero container .cta {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: transparent;
  border: 2px;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.8s ease;
  transition-property: background-color, color;
}
#hero container .cta:hover {
  color: white;
  background-color: #a4161a;
}
/*end hero*/
/*section for services*/

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal {
  100% {
    color: #d3d3d3;
  }
}
@keyframes text_reveal_name {
  100% {
    color: #d3d3d3;
    font-weight: 500;
  }
}
