.container{
    margin: 5px;
    border-radius: 50px solid;
    padding-top: 100px;
}
body{
    background-image: url(bg.jpg);
    background-size: 100%;
    color: black;
    background-color:brown;
}
ul{
    font-size: 18px;
    color: black;
    border-radius: 5px;
}
ol{
    font-size: 18px;
    color:violet;
}